@use "foundation/index" as *;

/* ===============================================
# custom css
=============================================== */

%my-class-base {
    font-size: clamp(1.4rem,(18/1440)*100vw,1.8rem);

    @include mq('sp') {
        font-size: clamp(1.4rem,(16/375)*100vw,1.6rem);
    }
}
.my-class__paragraph {
    @extend %my-class-base;
    line-height: 2;
}
.my-class__heading1 {

}
.my-class__heading2 {

}
.my-class__heading3 {
    font-size: clamp(2.8rem,(36/1440)*100vw,3.6rem);
    margin: (80/720)*100% 0;
    line-height: 1.5;
    padding-left: 4rem;
    position: relative;

    @include mq('sp') {
        font-size: clamp(2.4rem,(28/375)*100vw,2.8rem);
    }

    &::before {
        position: absolute;
        content: "";
        width: 2rem;
        height: 100%;
        background: $color-accent;
        top: 50%;
        left: 0;
        transform: translatey(-50%);
    }
}
.my-class__heading4 {
    font-size: clamp(2.0rem,(28/1440)*100vw,2.8rem);
    margin: (80/720)*100% 0;
    line-height: 1.5;
    padding-left: 4rem;
    position: relative;

    @include mq('sp') {
        font-size: clamp(1.6rem,(20/375)*100vw,2.0rem);
    }

    &::before {
        position: absolute;
        content: "";
        width: 2.4rem;
        height: 2.4rem;
        background: $color-accent;
        border-radius: 50%;
        top: 50%;
        left: 0;
        transform: translatey(-50%);
    }

}
.my-class__heading5 {
    border-bottom: .2rem solid $color-accent;
    font-size: clamp(1.2rem,(20/1440)*100vw,2rem);
    margin: (40/720)*100% 0;
    line-height: 2;
    width: fit-content;

    @include mq('sp') {
        font-size: clamp(1.4rem,(16/375)*100vw,1.6rem);
    }
}
.my-class__heading6 {

}
.my-class__figure {
    display: block;
    margin: (40/720)*100% auto;
}
.my-class__unorderdList {
    @extend %my-class-base;
    border: 3px dotted rgba(0, 104, 183, .3);
    margin: (80/720)*100% auto;
    padding: (20/720)*100% (20/720)*100% (20/720)*100% (40/720)*100%;
    width: 80%;
}
.my-class__listItem {
    list-style: disc;
    line-height: 2;
}
.my-class__blockquote {

}
.my-class__table {
    min-height: 40rem;
}
.my-class__tableHead {

}
.my-class__tableBody {
    font-size: clamp(1.4rem,(16/1440)*100vw,1.6rem);
    line-height: 1.5;
}
.my-class__tableRow {
    &:nth-child(1) {
        background: rgba(0, 104, 183, .3);
    }
}
.my-class__tableHeader {

}
.my-class__tableData {
    &:nth-of-type(1) {
        width: 30%;
    }
}
