@use "foundation/index" as *;

/* ===============================================
# header
=============================================== */

.header {
    color: $color-text;
    padding: (40/1440)*100% (80/1440)*100%;

    @include mq('sp') {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      padding: 0 (80/1440)*100%;
    }
}

.header__inner {
    align-items: center;
    display: flex;
    font-weight: 700;
    max-width: 128rem;
    margin: 0 auto ;
}
.header__logo {
    font-family: $font-en;
    font-size: clamp(2.8rem,(40/1440)*100vw,3.6rem);
}
.header__nav {
    margin-left: auto;

    @include mq('sp') {
      display: none;
    }
}
.header__list {
    align-items: center;
    display: flex;
    font-size: clamp(2.8rem,(40/1440)*100vw,3.6rem);
}
.header__item {
    margin-left: (80/1440)*100vw;
    position: relative;
}

.header__contact {
    color: $color-accent;
}


/* ===============================================
# header-works
=============================================== */

.header-works {
    background: #3f3f3f;
    color: $color-main;
    padding: (40/1440)*100% (80/1440)*100%;
}

.header-works__inner {
    align-items: center;
    display: flex;
    font-weight: 700;
    max-width: 128rem;
    margin: 0 auto ;
}
.header-works__logo {
    font-family: $font-en;
    font-size: clamp(2.8rem,(40/1440)*100vw,3.6rem);
}
.header-works__nav {
    margin-left: auto;
}
.header-works__list {
    align-items: center;
    display: flex;
    font-size: clamp(2.8rem,(40/1440)*100vw,3.6rem);
}
.header-works__item {
    margin-left: (80/1440)*100vw;

    &::before {
        position: absolute;
        content: "";
        width: 0%;
        height: 0.4rem;
        background: $color-accent;
        top: 100%;
        left: 0;
        transition: width 0.4s ease-in-out;

    }
    &:hover::before {
        animation: hoverAnimation 0.4s forwards;
    }
}
.header-works__contact {
    color: $color-accent;
}