@use "foundation/index" as *;

/* ===============================================
# custom css
=============================================== */

%my-class-base {
    font-size: clamp(1.2rem,(18/1440)*100vw,1.8rem);
}
.my-class__paragraph {
    @extend %my-class-base;
    line-height: 2;
}
.my-class__heading1 {

}
.my-class__heading2 {

}
.my-class__heading3 {
    font-size: clamp(2.8rem,(36/1440)*100vw,3.6rem);
    margin: (80/720)*100% 0;
    line-height: 1.5;
    padding-left: 4rem;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 2rem;
        height: 100%;
        background: $color-accent;
        top: 50%;
        left: 0;
        transform: translatey(-50%);
    }
}
.my-class__heading4 {
    font-size: clamp(2.0rem,(28/1440)*100vw,2.8rem);
    margin: (80/720)*100% 0;
    line-height: 1.5;
    padding-left: 4rem;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 2.4rem;
        height: 2.4rem;
        background: $color-accent;
        border-radius: 50%;
        top: 50%;
        left: 0;
        transform: translatey(-50%);
    }

}
.my-class__heading5 {
    font-size: clamp(1.2rem,(20/1440)*100vw,2rem);
    margin: (40/720)*100% 0;
}
.my-class__heading6 {

}
.my-class__figure {
    display: block;
    margin: (40/720)*100% auto;
}
.my-class__unorderdList {
    @extend %my-class-base;
    border: 3px dotted rgba(0, 104, 183, .3);
    margin: (80/720)*100% auto;
    padding: (20/720)*100% (20/720)*100% (20/720)*100% (40/720)*100%;
    width: 80%;
}
.my-class__listItem {
    list-style: disc;
    line-height: 2;
}
.my-class__blockquote {

}
.my-class__table {

}
.my-class__table-head {

}
.my-class__table-body {

}
.my-class__table-row {

}
.my-class__table-header {

}
.my-class__table-data {

}
.my-class__button {

}
.my-class__code {

}
.my-class__pre {

}
