@use "foundation/index" as *;

/* ===============================================
# common
=============================================== */
html {
  word-wrap: break-word;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul,
li,
ol,
dt,
dl,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: $color-bg;
  color: $color-text;
  font-family: $font-ja;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.04em;
}

a {
  color: inherit;
  cursor: pointer;
  display: block;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.5s;
}

img {
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.inner {
  margin: 0 auto;
  max-width: 1440px;
  padding: (296/1440)*100% 0 0;
  width: (1040/1440)*100vw;
}

.section__title {
  font-family: $font-ja;
  font-size: clamp(2.4rem,(32/1440)*100vw,3.2rem);
  font-weight: 700;
  position: relative;
  z-index: 10;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    color: $color-titleBg1;
    font-family: $font-en;
    font-size: clamp(8rem,(128/1440)*100vw,12.8rem);
    font-weight: 400;
    letter-spacing: 0.1em;
    z-index: -1;
  }
}

.button {
  width: (200/1440)*100vw;
  min-width: 12rem;
  min-height: 12rem;
  height: (200/1440)*100vw;
  border-radius: 50%;
  border: 2px solid $color-accent;
  color: $color-accent;
  position: relative;
  margin-top: (80/1440)*100vw;
}
.button__content {
  position: absolute;
  content: "";
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.button__img {
  margin: 0 auto ;
  width: (64/1440)*100vw;
}
.button__text {
  font-family: $font-en;
  font-size: clamp(1.2rem,(16/1440)*100vw,1.6rem);
  line-height: 1.5;
}

#stalker {
  pointer-events: none;
  position: fixed;
  top: -1rem;     //座標調節（カーソル位置と円の中心を合わせる）
  left: -1rem;   //座標調節（カーソル位置と円の中心を合わせる）
  width: 2rem;   //マウスストーカーの直径
  height: 2rem;  //マウスストーカーの直径
  background: rgba(26, 26, 26, .5);
  border-radius: 50%;
  transition: transform 0.3s, top, 0.3s, left 0.3s, width 0.5s, height 0.5s, background-color 0.5s;
  transition-timing-function: ease-out;
  z-index: 999;

  &.mouseover{
    width: 20rem;
    height: 20rem;
    top: -10rem;
    left: -10rem;
    transition: .5s;
    background: rgba(78, 161, 213, .7);
  }
}