@use "foundation/index" as *;

/* ===============================================
# aside
=============================================== */

.sidebar {
    position: relative;
    background: $color-main;
    font-size: clamp(1.2rem,(16/1440)*100vw,1.6rem);
    line-height: 2;
    padding: (80/1280)*100% 0;
    width: (360/1440)*100vw;
    height: inherit;

    @include mq('sp') {
      width: 100%;
    }
}

#block-8 {
    padding-left: (80/360)*100%;

    @include mq('sp') {
        font-size: clamp(1.6rem,(20/1440)*100vw,2.0rem);

    }

    a {
        width: fit-content;
        
        &:hover {
            color: $color-accent;
            text-decoration: underline;
        }
    }

    li {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: (24/1440)*100vw;
            max-width: 2.4rem;
            height: (24/1440)*100vw;
            max-height:2.4rem;
            top: 50%;
            left: -(60/280)*100%;
            transform: translateY(-50%);

            @include mq('sp') {
                width: (16/375)*100vw;
                height: (16/375)*100vw;
                left: -(40/280)*100%;
            }
        }
    }

    li:nth-child(1) {
    
        &::before {
            background: url(./img/pc-icon.png) no-repeat center center / cover;
        }
    }
    li:nth-child(2) {
        margin-top: (20/360)*100%;
    
        &::before {
            background: url(./img/seo-icon.png) no-repeat center center / cover;
        }
    }
    li:nth-child(3) {
        margin-top: (20/360)*100%;
    
        &::before {
            background: url(./img/marketing-icon.png) no-repeat center center / cover;
        }
    }
}
#block-9 {
    img {
        width: (240/1440)*100vw;

        @include mq('sp') {
          width: (160/375)*100vw;
        }
    }
}

#block-10{
    border-bottom: 2px solid $color-accent;
    line-height: 2;
    margin: (40/360)*100% auto 0;
    width: fit-content;
}

#block-11 {
    margin: (40/360)*100% auto 0;
    padding: 0 (20/360)*100%;
}

#block-11, 
#block-12, 
#block-13,
#block-14,
#block-15{
    padding: 0 (20/360)*100%;
}

#block-18 {
    margin: (40/360)*100% auto;
}


#block-19 {
    font-size: clamp(1.6rem,(20/1440)*100vw,2.0rem);
}

#block-21,
#block-22 {
    margin: (80/360)*100% auto (40/360)*100%;

    h3 {
        font-size: clamp(2.0rem,(24/375)*100vw,2.4rem);
    }

    @include mq('sp') {
        margin: (40/360)*100% auto (20/360)*100%;
    }
}

#block-23 {
    padding-left: (80/360)*100%;

    a {
        width: fit-content;

        &:hover {
            color: $color-accent;
            text-decoration: underline;
        }
    }

    li {
        position: relative;
        margin-top: (20/360)*100%;
    
        &::before {
            position: absolute;
            content: "";
            background: url(./img/archive-icon.png) no-repeat center center / cover;
            width: (24/1440)*100vw;
            max-width: 2.4rem;
            height: (24/1440)*100vw;
            max-height:2.4rem;
            top: 50%;
            left: -(60/280)*100%;
            transform: translateY(-50%);

            @include mq('sp') {
              width: (16/375)*100vw;
              height: (16/375)*100vw;
              left: -(40/280)*100%;
            }
        }
    }
}

#block-27{
    margin: (80/360)*100% (10/360)*100% (40/360)*100%;
    position: sticky;
    top: 8rem;

    @include mq('sp') {
      display: none;
    }
}

#block-31 {
    overflow: hidden;

    figure {
        margin: 0;
    }

    img {
        transition: all .5s ease 0s;
        &:hover {
            scale: 1.1;
        }
    }
}
