@use "foundation/index" as *;

/* ===============================================
# animation
=============================================== */

.js-fadeInUp {
  opacity: 0;
  transform: translateY(5rem);
}
.drawer__nav.js-open {
  transform: translateX(0%);
}
.drawer.js-open {
  .drawer__bar1 {
    top: 50%;
    transform: rotate(30deg);
    width: 60%;
  }
.drawer__bar2 {
    display: none;
  }
.drawer__bar3 {
    top: 50%;
    transform: rotate(-30deg);
    width: 60%;
  }
}
.mouse-stalker {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;

  @include mq('sp') {
    display: none;
  }
}
.mouse-stalker-white {
  background: $color-main;
}

.mouse-stalker-blue {
  background: $color-accent;
}

.to-top {
  position: fixed;
  bottom: (40/1440)*100vw;
  right: (40/1440)*100vw;
  max-width: 80px;
  width: (80/1440)*100vw;
  z-index: 100;
  aspect-ratio: 1/1;
  background: $color-main;
  border-radius: 50%;
  border: 2px solid $color-accent;
  cursor: pointer;
  opacity: 0;
  transition: all .5s ease;
  visibility: hidden;

  @include mq('sp') {
      bottom: (40/375)*100vw;
      right: (10/375)*100vw;
      max-width: 6.4rem;
      width: (48/375)*100vw;
  }
}
.to-top.js-fadeIn {
  visibility: visible;
  opacity: 1;
}
.to-top__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: (36/1440)*100vw;

  @include mq('sp') {
      max-width: 2.4rem;
      width: (16/375)*100vw;
  }
}