@use "foundation/index" as *;

/* ===============================================
# footer
=============================================== */

.footer {
    background: linear-gradient(to bottom,#3F3F3F, #1A1A1A);
    color: $color-main;
    margin-top: (200/1440)*100%;
}
.footer__inner {
    margin: 0 auto;
    padding: (80/1440)*100% 0 (40/1440)*100%;
}
.footer__content {
    align-items: start;
    display: flex;
    justify-content: center;
    font-size: clamp(3.2rem,(40/1440)*100vw,4rem);
}
.footer__left {
}
.footer__logo {
    font-family: $font-en;
    font-style: italic;
}
.footer__textbox {
    margin-top: (80/420)*100%;
    line-height: 1.5;
}
.footer__text {
    font-size: clamp(1.4rem,(16/1440)*100vw,1.6rem);
}
.footer__right {
    font-family: $font-en;
    margin-left: (200/1440)*100%;
}
.footer__list {
}
.footer__item {
    &:not(:nth-of-type(1)) {
        margin-top: (80/140)*100%;
    }
}
.footer__copyright {
    display: block;
    margin-top: (200/1440)*100%;
    text-align: center;
}
