@use "foundation/index" as *;

/* ===============================================
# header-works
=============================================== */

.header-works {
    background: #3f3f3f;
    color: $color-main;
    padding: (40/1440)*100% (80/1440)*100%;
}

.header-works__inner {
    align-items: center;
    display: flex;
    font-weight: 700;
    max-width: 128rem;
    margin: 0 auto ;
}
.header-works__logo {
    font-family: $font-en;
    font-size: 4rem;
    font-style: italic;
}
.header-works__nav {
    margin-left: auto;
}
.header-works__list {
    align-items: center;
    display: flex;
    font-size: clamp(2.8rem,(40/1440)*100vw,3.6rem);
}
.header-works__item {

    margin-left: (80/1440)*100vw;
}
.header-works__contact {
    color: $color-accent;
}