@use "foundation/index" as *;

/* ===============================================
# top-works
=============================================== */

.works {
  background: #3f3f3f;
  margin-top: (200/1440)*100%;

  .section__title {
    color: $color-main;

    &::after {
      content: "Works";
      color: $color-titleBg2;
    }
}
}
.works__inner {
  padding: (216/1440)*100% 0 (120/1440)*100%;

  @include mq('sp') {
    margin: 0 auto;
    padding: (120/375)*100% 0 (120/375)*100%;
    width: (335/375)*100vw;
  }
}
.works__title {
  margin-left: (200/1440)*100%;

  @include mq('sp') {
    margin: 0 auto ;
  }
}
.works__content {
  width: 100%;
  position: relative;
  margin-top: (80/1440)*100vw;
  height: (500/1440)*100vw;
  overflow: hidden;

  @include mq('sp') {
    margin-top: (80/375)*100%;
    height: 100%;
    overflow: visible;
  }
}

.works__list {
  position: absolute;
  width: 200%;
  display: flex;
  align-items: center;
  margin-left: 480px;

  @include mq('sp') {
    position: static;
    max-width: 50rem;
    width: (335/375)*100vw;
    margin: 0 auto;
    display: block;
  }
}
.works__item {
  color: $color-main;
  width: (480/1440)*100vw;
  height: 100%;
  
  &:not(:first-of-type) {
    margin-left: (200/2880)*100%;

    @include mq('sp') {
      margin: (80/375)*100% auto 0;
    }
  }

  @include mq('sp') {
    margin: 0 auto;
    width: 100%;
  }
}
.works__img {
  overflow: hidden;
  scale: 1;

  img {
    opacity: 0;
    transform: translateY(100%);
  }
  
  img:hover {
    transition: all .5s ease 0s;
    scale: 1.05;
  }
}
.works__company {
  font-size: clamp(1.6rem,(24/1440)*100vw,2.4rem);
  margin-top: (40/480)*100%;
}
.works__role {
  font-size: clamp(1.2rem,(16/1440)*100vw,1.6rem);
  margin-top: (24/480)*100%;
}
.works__button {
  border: 2px solid $color-main;
  color: $color-main;
  margin: 0 0 0 (120/1440)*100vw;

  @include mq('sp') {
    margin: (40/335)*100% 0 0 auto;
  }
}