@use "foundation/index" as *;

/* ===============================================
# top-contact
=============================================== */


%reset-form {
    appearance: none;
    background: #fff;
    border: 1px solid $color-accent;
    box-shadow: none;
    color: $color-text;
    font-family: $font-ja;
    font-size: clamp(1.6rem,(24/1440)*100vw,2.4rem);
    letter-spacing: 0.1em;
    min-width: 40rem;
    min-height: 6.4rem;
    padding: (8/1000)*100%;
    width: 100%;

    @include mq('sp') {
        min-height: 40px;
    }
}

.contact-form {
  .section__title {
    color: $color-text;

    &::after {
      content: "Contact";
      color: $color-titleBg1;
    }
  }
}
.contact-form__info {
    line-height: 1.5;
    margin-top: (80/1040)*100%;
}
.contact-form__text {
    font-size: clamp(1.6rem,(24/1440)*100vw,2.4rem);
}

.contact-form__wrap {
    &:first-child {
        margin-top: (80/1000)*100%;
    }
    &:not(:first-child) {
        margin-top: (40/1000)*100%;
    }
}

.contact-form__label {
    color: $color-text;
    font-size: clamp(1.8px,(24/1440)*100vw,2.4rem);
    width: fit-content;

    &:not(:first-child) {
        margin-top: 20px;
    }
}

.contact-form__input {
    margin-top: (24/1040)*100%;
    width: (600/1440)*100vw;
    min-width: 40rem;

}

[type="text"],
[type="email"]{
    @extend %reset-form;
}

textarea {
    @extend %reset-form;
    max-height: 20rem;
    resize: none;
    width: (600/1440)*100vw;
}

[type="submit"] {
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    background: none;
    line-height: inherit;
}

.contact-form__button {
    margin-left: auto;
}

.required {
    position: relative;

     &::after {
        position: absolute;
        content: "*";
        top: 0%;
        left: 105%;
        transform: translateY(-50%);
        color: $color-accent;
        font-family: $font-en;
     }
}

// contact form 7 デフォルトのスピナー非表示へ
span.wpcf7-spinner {
    display: none;
}

//デフォルトの送信メッセージ削除
.wpcf7-response-output {
    display: none;
}
//未入力の場合のテキストのマージン
.wpcf7-not-valid-tip {
    margin-top: (10/1000)*100%;
    @include mq('sp') {
        margin-top: (10/375)*100%;
    }
}


/*reCAPTCHAのロゴを非表示*/
.grecaptcha-badge {
	visibility: hidden; 
}
.googleRecaptcha {
  color: $color-text;
  font-family: $font-en;
  font-size: clamp(8px,(16/1440)*100vw,16px);
  margin-top: (8/1000)*100%;

  @include mq('sp') {
    margin-top: (8/335)*100%;
  }
}
.googleRecaptcha__link {
    display: inline-block;
}