@use "foundation/index" as *;

/* ===============================================
# top-profile
=============================================== */

.profile {
    max-width: 144rem;
    margin: 0 auto ;

    @include mq('sp') {
      margin-top: (80/375)*100%;
    }
}
.profile__inner {
    margin: 0 auto 0 (200/1440)*100%;
    max-width: 68rem;
    width: (680/1440)*100vw;

    @include mq('sp') {
        margin: 0 auto;
        width: (335/375)*100vw;
    }
}
.profile__list {
}
.profile__name {
    font-family: $font-en;
    font-size: clamp(1.6rem,(28/1440)*100vw,2.8rem);
    font-weight: 700;
}
.profile__hobby {
    font-size: clamp(1.2rem,(20/1440)*100vw,2.0rem);
    margin-top: (56/645)*100%;
}
.profile__desxcription {
    font-size: clamp(1.2rem,(16/1440)*100vw,1.6rem);
    line-height: 2;
    margin-top: (40/645)*100%;

}
.sns__list {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: (40/645)*100%;
}
.sns__item {
    margin: 0 (20/645)*100%;
    min-width: 2.4rem;
    width: (40/1440)*100vw;
}
